absl-py
astunparse
boto
boto3
botocore
cachetools
certifi
chardet
click
docutils
gast
gensim
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
importlib-metadata
joblib
jmespath
Keras
Keras-Applications
Keras-Preprocessing
Markdown
nltk
numpy
oauthlib
opt-einsum
pandas
protobuf
pyasn1
pyasn1-modules
python-dateutil
pytz
PyYAML
regex
requests
requests-oauthlib
rsa
s3transfer
scikit-learn
scipy
six
smart-open
tensorboard
tensorboard-plugin-wit
tensorflow
tensorflow
termcolor
threadpoolctl
tqdm
urllib3
Werkzeug
wrapt
zipp
